name: Close Stale Issues
permissions:
  issues: write
on:
  workflow_dispatch:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v5
        with:
          stale-issue-label: stale
          stale-issue-message: 'This issue has not received a response in 60 days. It will auto-close in 7 days unless a response is posted.'
          operations-per-run: 100
          exempt-issue-labels: announcement,bug,on hold,waiting for internal reply
          
